build/*
*.ipynb_checkpoints*
*.pytest_cache*
*__pycache__*
*egg-info*
.coverage
.DS_Store
dev_files/*
domaps/tests/candidatedata*
domaps/tests/write_test_usecases.py
domaps/tests/_test*
scripts/*.txt
scripts/*.tab
scripts/test*
*Thumbs.db
.vscode